@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import "antd/dist/reset.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
}

table {
    border: 1px solid #439A97;
    margin-top: 10px;
}


